<%-include('partial/header')%>
<%-include('partial/navbar')%>
<div class="container">
      <p class="alert alert-danger"> 
            Something Went Wrong </p>
</div>

<%-include('partial/footer')%>